<!DOCTYPE html>
<html lang="en">
<head>
    <!--
    ░░░░░░░░░▄░░░░░░░░░░░░░░▄ 
    ░░░░░░░░▌▒█░░░░░░░░░░░▄▀▒▌ 
    ░░░░░░░░▌▒▒█░░░░░░░░▄▀▒▒▒▐ wow
    ░░░░░░░▐▄▀▒▒▀▀▀▀▄▄▄▀▒▒▒▒▒▐ 
    ░░░░░▄▄▀▒░▒▒▒▒▒▒▒▒▒█▒▒▄█▒▐ 
    ░░░▄▀▒▒▒░░░▒▒▒░░░▒▒▒▀██▀▒▌ so quiz
    ░░▐▒▒▒▄▄▒▒▒▒░░░▒▒▒▒▒▒▒▀▄▒▒▌ 
    ░░▌░░▌█▀▒▒▒▒▒▄▀█▄▒▒▒▒▒▒▒█▒▐ 
    ░▐░░░▒▒▒▒▒▒▒▒▌██▀▒▒░░░▒▒▒▀▄▌ much nodejs
    ░▌░▒▄██▄▒▒▒▒▒▒▒▒▒░░░░░░▒▒▒▒▌ 
    ▌▒▀▐▄█▄█▌▄░▀▒▒░░░░░░░░░░▒▒▒▐ 
    ▐▒▒▐▀▐▀▒░▄▄▒▄▒▒▒▒▒▒░▒░▒░▒▒▒▒▌ 
    ▐▒▒▒▀▀▄▄▒▒▒▄▒▒▒▒▒▒▒▒░▒░▒░▒▒▐ very hidden source
    ░▌▒▒▒▒▒▒▀▀▀▒▒▒▒▒▒░▒░▒░▒░▒▒▒▌ 
    ░▐▒▒▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒░▒▒▄▒▒▐
    ░░▀▄▒▒▒▒▒▒▒▒▒▒▒░▒░▒░▒▄▒▒▒▒▌ 
    ░░░░▀▄▒▒▒▒▒▒▒▒▒▒▄▄▄▀▒▒▒▒▄▀ 
    ░░░░░░▀▄▄▄▄▄▄▀▀▀▒▒▒▒▒▄▄▀ such interface
    ░░░░░░░░░▒▒▒▒▒▒▒▒▒▒▀▀
    -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>{{ app_title }} | Quiz Administration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="description" content="{{ app_title }} - Quiz Administration">
    <meta name="author" content="GP">
    <!-- JAVASCRIPTS -->
    <!--[if lt IE 9]>
    <script src="/javascripts/excanvas.min.js"></script>
    <script src="/javascripts/html5.js"></script>
    <script src="/javascripts/css3-mediaqueries.js"></script>
    <![endif]-->
    <!-- /JAVASCRIPTS -->
    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/default.css" id="skin-switcher">
    <link rel="stylesheet" type="text/css" href="/stylesheets/responsive.css">
    <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/opensans.css">
<style type="text/css"></style>
</head>
<body style="">
    <!-- HEADER -->
    <header class="navbar clearfix" id="header">
        <div class="container">
                <div class="navbar-brand">
                    <!-- LOGO -->
                    <a href="/">
                        <img src="/images/logo.png" alt="GA Quiz Logo" class="img-responsive" height="30" width="120">
                    </a>
                    <!-- /LOGO -->
                </div>
                <!-- NAVBAR LEFT -->
                <ul class="nav navbar-nav pull-left hidden-xs" id="navbar-left">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-cog"></i>
                            <span class="name">Skins</span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu skins">
                            <li class="dropdown-title">
                                <span><i class="fa fa-leaf"></i> Skins</span>
                            </li>
                            <li><a href="#" data-skin="default">Default</a></li>
                            <li><a href="#" data-skin="night">Night</a></li>
                            <li><a href="#" data-skin="earth">Earth</a></li>
                            <li><a href="#" data-skin="utopia">Utopia</a></li>
                            <li><a href="#" data-skin="nature">Nature</a></li>
                            <li><a href="#" data-skin="graphite">Graphite</a></li>
                         </ul>
                    </li>
                </ul>
                <!-- /NAVBAR LEFT -->
                <!-- BEGIN TOP NAVIGATION MENU -->                  
                <ul class="nav navbar-nav pull-right">
                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <li class="dropdown" id="header-user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="username">{{username}}&nbsp;</span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ URL.LOGOUT }}"><i class="fa fa-power-off"></i> Logout</a></li>
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                </ul>
                <!-- END TOP NAVIGATION MENU -->
        </div>
    </header>
    <!--/HEADER -->
    <!-- PAGE -->
    <section id="page">
        <div id="main-content">
            <div class="container">
                <div class="row">
                    <div id="content" class="col-lg-12" style="min-height:1063px !important">
                        <!-- PAGE HEADER-->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="page-header">
                                    <!-- BREADCRUMBS -->
                                    <ul class="breadcrumb">
                                        <li>
                                            <i class="fa fa-home"></i>
                                        </li>
                                        <li>Administration</li>
                                    </ul>
                                    <!-- /BREADCRUMBS -->
                                    <div class="clearfix">
                                        <h3 class="content-title pull-left">Admin Section</h3>
                                    </div>
                                    <div class="description">With great power comes great responsibility.</div>
                                </div>
                            </div>
                        </div>
                        <!-- /PAGE HEADER -->
                        <div class="row">
                            <div class="col-md-12 box-container">
                                <!-- BOX WITH INFO -->
                                <div class="box solid grey">
                                    <div class="box-title">
                                        <h4><i class="fa fa-exclamation-triangle"></i>Things to remember!</h4>
                                        <div class="tools">
                                            <span class="badge badge-red">IMPORTANT </span>
                                            <a class="collapse" href="javascript:;">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                            <a class="remove" href="javascript:;">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <p>
                                            <ul>
                                                <li><strong>Please use a modern browser!</strong> That includes the latest version of Firefox, Chrome or Opera. If you're using Internet Explorer, <abbr title="You should be ashamed of yourself.">please use version 10 or above.</abbr></li>
                                                <li>Try to save <strong>at least 5 </strong> questions for a day's quiz.</li>
                                                <li>Make sure the image you upload is small in size and dimensions. We recommend a file size of <code> &lt; 100 KB</code> and dimensions of <code>400px or less</code> on the longest side.</li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                                <!-- /BOX WITH INFO -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <button title="Click to add another question. You can rearrange questions by dragging around the boxes." type="button" class="btn btn-primary tip-right btn-add"><i class="fa fa-plus" data-original-title="Click to add another question. You can rearrange questions by dragging around the boxes."></i> Add Question</button>
                            </div>
                        </div>
                        <div class="separator"></div>
                        <div class="row">
                            <div class="col-md-6 box-container ui-sortable box-question">
                                <!-- BOX COLLAPSED-->
                                <div class="box border purple">
                                    <div class="box-title">
                                        <h4><i class="fa fa-bars"></i>Question #<span class="question-number">1</span>&nbsp;</h4>
                                        <span class="label label-right label-success question-status"></span>
                                        <div class="tools">
                                            <a class="expand" href="javascript:;">
                                                <i class="fa fa-chevron-down"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div style="display:none" class="box-body">
                                        <form role="form" class="form-horizontal" name="form-question" action="{{ URL.QUIZ_ADMIN_SAVE_AJAX }}" method="POST">
                                            <input type="hidden" name="question_id" id="question_id">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Question</label>
                                                    <div class="col-sm-9">
                                                        <textarea rows="3" class="form-control" name="title" maxlength="500" required></textarea>
                                                    </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Choice 1</label>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <input type="radio" name="answer" value="1" required>
                                                        </span>
                                                        <input type="text" class="form-control choices" name="choice1" maxlength="100" required>
                                                        <span class="input-group-addon">*</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Choice 2</label>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <input type="radio" name="answer" value="2">
                                                        </span>
                                                        <input type="text" class="form-control choices" name="choice2" maxlength="100" required>
                                                        <span class="input-group-addon">*</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Choice 3</label>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <input type="radio" name="answer" value="3">
                                                        </span>
                                                        <input type="text" class="form-control choices" name="choice3" maxlength="100" required>
                                                        <span class="input-group-addon">*</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Choice 4</label>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <input type="radio" name="answer" value="4">
                                                        </span>
                                                        <input type="text" class="form-control choices" name="choice4" maxlength="100">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Choice 5</label>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <input type="radio" name="answer" value="5">
                                                        </span>
                                                        <input type="text" class="form-control choices" name="choice5" maxlength="100">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-offset-3 col-sm-10">
                                                    <button type="button" class="btn btn-primary btn-save" data-loading-text="Saving.."><i class="fa fa-floppy-o"></i> Save</button>
                                                    <button type="button" class="btn btn-danger btn-delete" data-loading-text="Delete.."><i class="fa fa-eraser"></i> Delete</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- /BOX COLLAPSED-->
                            </div>
                        </div>
                        <div class="footer-tools">
                            <span class="go-top">
                                <i class="fa fa-chevron-up"></i> Top
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/PAGE -->
    <!-- JAVASCRIPTS -->
    <script type="text/javascript" src="/javascripts/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="/javascripts/script.js"></script>
    <script type="text/javascript">

        jQuery(document).ready(function() {     
            App.setPage('widgets_box');  //Set current page
            App.init(); //Initialise plugins and elements

            $.validator.addMethod('notEqualToGroup', function(value, element, options) {
                var elems = $(element).parents('form').find(options[0]);
                var valueToCompare = value;
                var matchesFound = 0;
                $.each(elems, function(){
                    thisVal = $(this).val();
                    if(thisVal == valueToCompare){
                        matchesFound++;
                    }
                });
                if(this.optional(element) || matchesFound <= 1) {
                    return true;
                }
            }, $.validator.format('Please enter a unique value.'));


            //Validations
            $('form[name=form-question]').validate({
                rules: {
                    'title': { required: true },
                    'answer': { required: true },
                    'choice1': { required: true, notEqualToGroup: ['.choices'] },
                    'choice2': { required: true, notEqualToGroup: ['.choices'] },
                    'choice3': { required: true, notEqualToGroup: ['.choices'] },
                    'choice4': { notEqualToGroup: ['.choices'] },
                    'choice5': { notEqualToGroup: ['.choices'] }
                },
                messages: {
                    'answer': 'Please mark the correct answer by clicking on one of the round buttons.'
                },
                errorElement: 'span',
                errorClass: 'help-block',
                errorPlacement: function(error, element) {
                    if(element.is(':radio')){
                        error.insertBefore(element.parents('form').find('button.btn-save'));
                        element.parents('div.form-group').addClass('has-error');
                    }
                },
                highlight: function(element, errorClass) {
                    $(element).parents('div.form-group').addClass('has-error');
                },
                unhighlight: function(element, errorClass) {
                    $(element).parents('div.form-group').removeClass('has-error');
                    $(element).next('span.help-block').remove();
                }
            });

            $('.btn-save').on('click', function () {
                var form = $(this).closest('form');
                if (form.valid()) {
                    $.post(form.attr('action'), form.serialize(), function(response) {
                        if(response['error'] == false) {
                            form.parents('.box-question').find('span.question-status').addClass('label-success').removeClass('label-warning').html('Saved');
                            form.find('input#question_id').val(response['question_id']);
                        }
                    });
                }
            });

            $('.btn-add').on('click', function () {
                var question_block = $('.box-question').first().clone();
                question_block.find('input').val('').removeAttr('checked');
                question_block.find('span.question-status').empty()
                question_block.find('span.question-number').html($('.box-question').length + 1);
                question_block.insertAfter($('.box-question').last());
            });            

            $('.btn-delete').on('click', function () {
                var e = $(this);
                e.button('loading'), setTimeout(function () {
                    e.button('reset');
                    var a = e.parents('.box');
                    a.next().hasClass('box') || a.prev().hasClass('box') ? e.parents('.box').remove() : e.parents('.box').parent().remove();
                }, 1500);
            });

            $('form :input').change(function(){
                var e = $(this);
                e.parents('.box').find('span.question-status').removeClass('label-success').addClass('label-warning').html('Not Saved');
            });
        });
    </script>
    <!-- /JAVASCRIPTS -->
</body>
</html>