<!DOCTYPE html>
<html lang="en">
<head>
    <!--
    ░░░░░░░░░▄░░░░░░░░░░░░░░▄ 
    ░░░░░░░░▌▒█░░░░░░░░░░░▄▀▒▌ 
    ░░░░░░░░▌▒▒█░░░░░░░░▄▀▒▒▒▐ wow
    ░░░░░░░▐▄▀▒▒▀▀▀▀▄▄▄▀▒▒▒▒▒▐ 
    ░░░░░▄▄▀▒░▒▒▒▒▒▒▒▒▒█▒▒▄█▒▐ 
    ░░░▄▀▒▒▒░░░▒▒▒░░░▒▒▒▀██▀▒▌ so quiz
    ░░▐▒▒▒▄▄▒▒▒▒░░░▒▒▒▒▒▒▒▀▄▒▒▌ 
    ░░▌░░▌█▀▒▒▒▒▒▄▀█▄▒▒▒▒▒▒▒█▒▐ 
    ░▐░░░▒▒▒▒▒▒▒▒▌██▀▒▒░░░▒▒▒▀▄▌ much nodejs
    ░▌░▒▄██▄▒▒▒▒▒▒▒▒▒░░░░░░▒▒▒▒▌ 
    ▌▒▀▐▄█▄█▌▄░▀▒▒░░░░░░░░░░▒▒▒▐ 
    ▐▒▒▐▀▐▀▒░▄▄▒▄▒▒▒▒▒▒░▒░▒░▒▒▒▒▌ 
    ▐▒▒▒▀▀▄▄▒▒▒▄▒▒▒▒▒▒▒▒░▒░▒░▒▒▐ very hidden source
    ░▌▒▒▒▒▒▒▀▀▀▒▒▒▒▒▒░▒░▒░▒░▒▒▒▌ 
    ░▐▒▒▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒░▒▒▄▒▒▐
    ░░▀▄▒▒▒▒▒▒▒▒▒▒▒░▒░▒░▒▄▒▒▒▒▌ 
    ░░░░▀▄▒▒▒▒▒▒▒▒▒▒▄▄▄▀▒▒▒▒▄▀ 
    ░░░░░░▀▄▄▄▄▄▄▀▀▀▒▒▒▒▒▄▄▀ such interface
    ░░░░░░░░░▒▒▒▒▒▒▒▒▒▒▀▀
    -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>{{ app_title }} | Quiz completed!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="description" content="{{ app_title }} - Quiz Finished">
    <meta name="author" content="GP">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <!-- JAVASCRIPTS -->
    <!--[if lt IE 9]>
    <script src="/javascripts/excanvas.min.js"></script>
    <script src="/javascripts/html5.js"></script>
    <script src="/javascripts/css3-mediaqueries.js"></script>
    <![endif]-->
    <!-- /JAVASCRIPTS -->
    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/default.css" id="skin-switcher" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/responsive.css" />
    <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/opensans.css" />
    <!-- /STYLESHEETS -->
    <!-- FAVICON -->
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <!-- /FAVICON -->
<style type="text/css"></style>
</head>
<body style="">
    <!-- HEADER -->
    <header class="navbar clearfix" id="header">
        <div class="container">
                <div class="navbar-brand">
                    <!-- LOGO -->
                    <a href="/">
                        <img src="/images/logo.png" alt="Quiz Logo" class="img-responsive" height="30" width="120">
                    </a>
                    <!-- /LOGO -->
                </div>
                <!-- NAVBAR LEFT -->
                <ul class="nav navbar-nav pull-left hidden-xs" id="navbar-left">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-cog"></i>
                            <span class="name">Skins</span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu skins">
                            <li class="dropdown-title">
                                <span><i class="fa fa-leaf"></i> Skins</span>
                            </li>
                            <li><a href="#" data-skin="default">Default</a></li>
                            <li><a href="#" data-skin="night">Night</a></li>
                            <li><a href="#" data-skin="earth">Earth</a></li>
                            <li><a href="#" data-skin="utopia">Utopia</a></li>
                            <li><a href="#" data-skin="nature">Nature</a></li>
                            <li><a href="#" data-skin="graphite">Graphite</a></li>
                         </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" target="_blank" href="{{ URL.FAQ }}"><span><i class="fa fa-question-circle"></i>FAQs</span> </a>
                    </li>
                </ul>
                <!-- /NAVBAR LEFT -->
                <!-- BEGIN TOP NAVIGATION MENU -->                  
                <ul class="nav navbar-nav pull-right">
                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <li class="dropdown" id="header-user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="username"><i class="fa fa-user"></i>&nbsp;{{username}}&nbsp;</span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ URL.LOGOUT }}"><i class="fa fa-power-off"></i> Logout</a></li>
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                </ul>
                <!-- END TOP NAVIGATION MENU -->
        </div>
    </header>
    <!--/HEADER -->
    <!-- PAGE -->
    <section id="page">
        <div id="main-content">
            <div class="container">
                <div class="row">
                    <div id="content" class="col-lg-12" style="min-height:1063px !important">
                        <!-- PAGE HEADER-->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="page-header">
                                    <!-- BREADCRUMBS -->
                                    <ul class="breadcrumb">
                                        <li>
                                            <i class="fa fa-home"></i>
                                        </li>
                                        <li><a href="{{ URL.QUIZ_MAIN }}">Welcome</a></li>
                                        <li>Today's Quiz</li>
                                        <li>Completed</li>
                                    </ul>
                                    <!-- /BREADCRUMBS -->
                                    <div class="clearfix">
                                        <h3 class="content-title pull-left">Congratulations</h3>
                                    </div>
                                    <div class="description">There, there. It's over.</div>
                                </div>
                            </div>
                        </div>
                        <!-- /PAGE HEADER -->
                        <div class="row">
                            <!-- BOX - QUIZ COMPLETED -->
                            <div class="col-md-12 box-container">
                                <div class="box solid blue">
                                    <div class="box-title">
                                        <h4><i class="fa fa-check-square-o"></i> Quiz Completed</h4>
                                        <div class="tools">
                                            <a class="collapse" href="javascript:;">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <p>You've completed today's quiz, and all your answers have been recorded.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /BOX - QUIZ COMPLETED -->
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <!-- BOX -->
                                <div class="box border red">
                                    <div class="box-title">
                                        <h4><i class="fa fa-bar-chart-o"></i>Results</h4>
                                        <div class="tools">
                                            <a class="collapse" href="javascript:;">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <p>
                                            <span class="label label-primary arrow-in arrow-in-right">Your score <i class="fa fa-star"></i></span> You've scored <span class="badge badge-orange">{{ results.total_points }}</span> {% if results.total_points == 0 %} points{% else %} point{% endif %} for <strong>{{ results.total_questions }}</strong> {% if results.total_questions == 1 %}question{% else %}questions{% endif %} today! Check out the full results. You can also view the full <a href="{{ URL.QUIZ_STANDINGS }}"><button class="btn btn-xs btn-warning">Standings</button></a>
                                        </p>
                                        <table class="table table-hover" style="margin-bottom: 0">
                                            <thead>
                                              <tr>
                                                <th>#</th>
                                                <th>Question</th>
                                                <th>Correct Answer</th>
                                                <th>Response Time</th>
                                                <th>Result</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                            {% for result in results %}
                                              <tr>
                                                <td>{{ loop.index }}</td>
                                                <td>{{ result.question_title|striptags }}</td>
                                                <td>{{ result.answer_title|striptags }}</td><td>{% if result.response_time == 0 %}<span data-toggle="popover" data-trigger="hover focus" title="" data-content="No response time has been recorded. This means you did not choose an answer in time." data-title="Wait, what?" data-original-title="" title="" class="label label-danger pop-hover"><i class="fa fa-question"></i></span>{% else %}{{ result.response_time }}{% endif %}</td>
                                                <td>{% if result.correct_answer %}<span class="label label-success"><i class="fa fa-check-square"></i></span>{% else %}<span class="label label-danger"><i class="fa fa-times"></i></span>{% endif %}</td>
                                              </tr>
                                            {% endfor %}
                                            </tbody>
                                          </table>
                                    </div>
                                </div>
                                <!-- /BOX -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/PAGE -->
    <!-- JAVASCRIPTS -->
    <script type="text/javascript" src="/javascripts/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="/javascripts/script.js"></script>
    <script type="text/javascript">
        window.location.hash = 'no-back-button';
        window.location.hash = 'again-no-back-button';
        window.onhashchange = function(){
            if (typeof history.pushState !== 'undefined') {
                history.pushState(null, '', '#no-back-button');
            } else {
                window.location.hash='no-back-button';
            }
        }
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function() {     
            App.setPage('widgets_box');  //Set current page
            App.init(); //Initialise plugins and elements
        });
    </script>
    <!-- /JAVASCRIPTS -->
</body>
</html>