<!DOCTYPE html>
<html lang="en"><head>
	<!--
    ░░░░░░░░░▄░░░░░░░░░░░░░░▄ 
    ░░░░░░░░▌▒█░░░░░░░░░░░▄▀▒▌ 
    ░░░░░░░░▌▒▒█░░░░░░░░▄▀▒▒▒▐ wow
    ░░░░░░░▐▄▀▒▒▀▀▀▀▄▄▄▀▒▒▒▒▒▐ 
    ░░░░░▄▄▀▒░▒▒▒▒▒▒▒▒▒█▒▒▄█▒▐ 
    ░░░▄▀▒▒▒░░░▒▒▒░░░▒▒▒▀██▀▒▌ so quiz
    ░░▐▒▒▒▄▄▒▒▒▒░░░▒▒▒▒▒▒▒▀▄▒▒▌ 
    ░░▌░░▌█▀▒▒▒▒▒▄▀█▄▒▒▒▒▒▒▒█▒▐ 
    ░▐░░░▒▒▒▒▒▒▒▒▌██▀▒▒░░░▒▒▒▀▄▌ much nodejs
    ░▌░▒▄██▄▒▒▒▒▒▒▒▒▒░░░░░░▒▒▒▒▌ 
    ▌▒▀▐▄█▄█▌▄░▀▒▒░░░░░░░░░░▒▒▒▐ 
    ▐▒▒▐▀▐▀▒░▄▄▒▄▒▒▒▒▒▒░▒░▒░▒▒▒▒▌ 
    ▐▒▒▒▀▀▄▄▒▒▒▄▒▒▒▒▒▒▒▒░▒░▒░▒▒▐ very hidden source
    ░▌▒▒▒▒▒▒▀▀▀▒▒▒▒▒▒░▒░▒░▒░▒▒▒▌ 
    ░▐▒▒▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒░▒▒▄▒▒▐
    ░░▀▄▒▒▒▒▒▒▒▒▒▒▒░▒░▒░▒▄▒▒▒▒▌ 
    ░░░░▀▄▒▒▒▒▒▒▒▒▒▒▄▄▄▀▒▒▒▒▄▀ 
    ░░░░░░▀▄▄▄▄▄▄▀▀▀▒▒▒▒▒▄▄▀ such interface
    ░░░░░░░░░▒▒▒▒▒▒▒▒▒▒▀▀
    -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<title>{{ app_title }} | FAQs</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
	<meta name="description" content="{{ app_title }} - Frequently Asked Questions">
	<meta name="author" content="GP">
	<!-- JAVASCRIPTS -->
    <!--[if lt IE 9]>
    <script src="/javascripts/excanvas.min.js"></script>
    <script src="/javascripts/html5.js"></script>
    <script src="/javascripts/css3-mediaqueries.js"></script>
    <![endif]-->
    <!-- /JAVASCRIPTS -->
	<!-- STYLESHEETS -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/default.css" id="skin-switcher" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/responsive.css" />
	<link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/opensans.css" />
	<!-- /STYLESHEETS -->
	<!-- FAVICON -->
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <!-- /FAVICON -->
<style type="text/css"></style></head>
<body style="">
	<!-- HEADER -->
	<header class="navbar clearfix" id="header">
		<div class="container">
			<div class="navbar-brand">
				<!-- LOGO -->
				<a href="/">
					<img src="/images/logo.png" alt="GA Quiz Logo" class="img-responsive" height="30" width="120">
				</a>
				<!-- /LOGO -->
			</div>
			<!-- NAVBAR LEFT -->
			<ul class="nav navbar-nav pull-left hidden-xs" id="navbar-left">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-cog"></i>
						<span class="name">Skins</span>
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="dropdown-menu skins">
						<li class="dropdown-title">
							<span><i class="fa fa-leaf"></i> Skins</span>
						</li>
						<li><a href="#" data-skin="default">Default</a></li>
						<li><a href="#" data-skin="night">Night</a></li>
						<li><a href="#" data-skin="earth">Earth</a></li>
						<li><a href="#" data-skin="utopia">Utopia</a></li>
						<li><a href="#" data-skin="nature">Nature</a></li>
						<li><a href="#" data-skin="graphite">Graphite</a></li>
					 </ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" href="{{ URL.FAQ }}"><span><i class="fa fa-question-circle"></i>FAQs</span></a>
				</li>
			</ul>
			<!-- /NAVBAR LEFT -->
		</div>
	</header>
	<!--/HEADER -->
	<!-- PAGE -->
	<section id="page">
		<div id="main-content">
			<div class="container">
				<div class="row">
					<div id="content" class="col-lg-12" style="min-height:1063px !important">
						<!-- PAGE HEADER-->
						<div class="row">
							<div class="col-sm-12">
								<div class="page-header">
									<!-- BREADCRUMBS -->
									<ul class="breadcrumb">
										<li>
											<i class="fa fa-home"></i>
										</li>
										<li>FAQs</li>
									</ul>
									<!-- /BREADCRUMBS -->
									<div class="clearfix">
										<h3 class="content-title pull-left">FAQs (and hypothetical 'What ifs')</h3>
									</div>
									<div class="description">All that you ever wanted to know about me.</div>
								</div>
							</div>
						</div>
						<!-- /PAGE HEADER -->
						<!-- FAQ -->
						<div class="row">
							<!-- NAV -->
							<div id="list-toggle" class="col-md-2">
								<div class="list-group">
								  <a href="#tab1" data-toggle="tab" class="list-group-item active">
									<i class="fa fa-smile-o"></i> General
								  </a>
								  <a href="#tab2" data-toggle="tab" class="list-group-item"><i class="fa fa-gamepad"></i> Quiz</a>
								  <a href="#tab3" data-toggle="tab" class="list-group-item"><i class="fa fa-eye"></i> Privacy</a>
								  <a href="#tab4" data-toggle="tab" class="list-group-item"><i class="fa fa-bug"></i> Bugs &amp; Problems</a>
								</div>
							</div>
							<!-- /NAV -->
							<!-- CONTENT -->
							<div class="col-md-10">
								<div class="tab-content">
								   <div class="tab-pane active" id="tab1">
									  <div class="panel-group" id="accordion">
										  <div class="panel panel-default">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1_1">1. What am I doing here? </a> </h3>
											 </div>
											 <div id="collapse1_1" class="panel-collapse collapse">
												<div class="panel-body"> You somehow stumbled on this amazing webapp (or probably relentlessly pestered into checking it out by a <em>certain</em> someone) and got curious and clicked on the huge link on top.</div>
											 </div>
										  </div>
										  <div class="panel panel-default">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1_2">2. Oh, okay. Wassup? </a> </h3>
											 </div>
											 <div id="collapse1_2" class="panel-collapse collapse">
												<div class="panel-body"> I'm super-excited about this. Basically, this is a web application that lets you take a time-based quiz everyday. </div>
											 </div>
										  </div>
										  <div class="panel panel-default">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1_3">3. Honestly, that doesn't seem exciting at all. </a> </h3>
											 </div>
											 <div id="collapse1_3" class="panel-collapse collapse">
												<div class="panel-body"> But wait! There's more! The quiz also comes with a company-wide ranking system. You can view a bunch of statistics (yes, before you ask, we have graphs) about the day's quiz in a very cool <a href="{{ URL.QUIZ_STANDINGS }}" target="_blank" title="Quiz Standings">page</a> in real-time too! The app is built with a simplistic design aesthetic while also giving you the option to pick a custom skin that the app remembers the next time you log in!</div>
											 </div>
										  </div>
										   <div class="panel panel-default">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1_4">4. Can I also take the quiz on my iPad/iPhone/&lt;insert mobile device name here&gt;?  </a> </h3>
											 </div>
											 <div id="collapse1_4" class="panel-collapse collapse">
												<div class="panel-body"> Absolutely. The website is fully responsive and scales beautifully across a wide range of resolutions.</div>
											 </div>
										  </div>
										  <div class="panel panel-default">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1_5">5. OH MY GOD AMAZING TELL ME MORE! </a> </h3>
											 </div>
											 <div id="collapse1_5" class="panel-collapse collapse">
												<div class="panel-body"> I'm gonna geek out a little, but stay with me here. This entire app was built using JavaScript technology! The backend of the app was coded in <abbr data-content="Node.js is an amazing new web platform that came from a genius idea - this one dude decided to take out the Javascript engine from Google Chrome's V8 and packaged it into a runtime." data-toggle="popover" data-title="I &#x2764; Node.js" class="pop-hover" data-original-title="" data-trigger="hover focus" title="">Node.js</abbr> and the interface using plain old HTML, CSS and JavaScript (of course, with the help of Bootstrap &amp; jQuery. Even the database system, MongoDB, uses <abbr data-content="JavaScript Object Notation - a way of saving all data in the form of JS objects." data-toggle="popover" data-title="JSON" class="pop-hover" data-original-title="" data-trigger="hover focus" title="">JSON</abbr> for storing all the data.</div>
											 </div>
										  </div>
										  <div class="panel panel-default">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1_6">6. That's awesome. </a> </h3>
											 </div>
											 <div id="collapse1_6" class="panel-collapse collapse">
												<div class="panel-body"> I know, right? </div>
											 </div>
										  </div>
									   </div>
								   </div>
								   <div class="tab-pane" id="tab2">
									  <div class="panel-group" id="accordion">
										  <div class="panel panel-default">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse2_1">1. How do I take the quiz? </a> </h3>
											 </div>
											 <div id="collapse2_1" class="panel-collapse collapse">
												<div class="panel-body"> A daily quiz (of usually 5 to 10 questions) is hosted every day, between <strong>{{ start_hour|json|replace(',', ':', 'g') }}</strong> and <strong>{{ stop_hour|json|replace(',', ':', 'g') }}</strong> hours. All you have to do is login and start the quiz. Each question has an intelligently-calculated time limit, and the time left is displayed by an animated progress bar. If you do not select an answer within the time period, an empty response is recorded and the page automatically switches to the next question. </div>
											 </div>
										  </div>
										  <div class="panel panel-default">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse2_2">2. What's this quiz like? </a> </h3>
											 </div>
											 <div id="collapse2_2" class="panel-collapse collapse">
												<div class="panel-body"> Each question has 3 to 5 multiple choices. Some might have images too. When you select one of the choices, you are shown the next question. At the end of the quiz, you can review your answers. </div>
											 </div>
										  </div>
										  <div class="panel panel-default">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse2_3">3. How does the ranking system work? </a> </h3>
											 </div>
											 <div id="collapse2_3" class="panel-collapse collapse">
												<div class="panel-body"> It's simple - each question carries 1 point. Rankings are based on total points and the average response time (rounded off to 3 decimal points). </div>
											 </div>
										  </div>
									   </div>
								   </div>
								   <div class="tab-pane" id="tab3">
									  <div class="panel-group" id="accordion">
										  <div class="panel panel-default">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse3_1">1. Wait, you actually have a privacy policy? </a> </h3>
											 </div>
											 <div id="collapse3_1" class="panel-collapse collapse">
												<div class="panel-body"> Yup. The only personal information we ask of you is your password. This password is one-way encrypted using a <abbr data-content="128-bit PBKDF2 with around 12,000 iterative derivates." data-toggle="popover" data-title="Crypto" class="pop-hover" data-original-title="" data-trigger="hover focus" title="">super secure algorithm</abbr> - meaning a hash value is saved along with a unique salt. This means that even if someone managed to gain access to the database, he or she cannot view your password. Read more about how one-way hashes work <a href="http://security.stackexchange.com/q/11717" target="_blank" title="encryption - Why are hash functions one way? If I know the algorithm, why can&#39;t I calculate the input from it? - Information Security Stack Exchange">here</a>.</div>
											 </div>
										  </div>
									   </div>
								   </div>
								   <div class="tab-pane" id="tab4">
									  <div class="panel-group" id="accordion">
										  <div class="panel panel-danger">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse4_1">1. I found a bug/My house burned down/My girlfriend left me.</a> </h3>
											 </div>
											 <div id="collapse4_1" class="panel-collapse collapse in">
												<div class="panel-body"> That is heart-breaking. Please report any bugs you found to your friendly neighbourhood <i class="fa fa-cogs"></i> developer</a> via <a href="mailto:ganesh.prasannah@global-analytics.com?subject=Bug Report">email</a> or <a href="sip:ganesh.prasannah@global-analytics.com">ping</a>. </div>
											 </div>
										  </div>
									   </div>
								   </div>
								</div>
							</div>
							<!-- /CONTENT -->
						</div>
						<!-- /FAQ -->
						<div class="separator"></div>
						<div class="footer-tools">
							<span class="go-top">
								<i class="fa fa-chevron-up"></i> Top
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--/PAGE -->
	<!-- JAVASCRIPTS -->
	<script type="text/javascript" src="/javascripts/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="/javascripts/jquery-ui-1.10.3.custom.min.js"></script>
	<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.cookie.min.js"></script>
	<script type="text/javascript" src="/javascripts/script.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function() {		
			App.setPage("faq");  //Set current page
			App.init(); //Initialise plugins and elements
		});
	</script>
	<!-- /JAVASCRIPTS -->
</body>
</html>