<!DOCTYPE html>
<html lang="en">
<head>
	<!--
    ░░░░░░░░░▄░░░░░░░░░░░░░░▄ 
    ░░░░░░░░▌▒█░░░░░░░░░░░▄▀▒▌ 
    ░░░░░░░░▌▒▒█░░░░░░░░▄▀▒▒▒▐ wow
    ░░░░░░░▐▄▀▒▒▀▀▀▀▄▄▄▀▒▒▒▒▒▐ 
    ░░░░░▄▄▀▒░▒▒▒▒▒▒▒▒▒█▒▒▄█▒▐ 
    ░░░▄▀▒▒▒░░░▒▒▒░░░▒▒▒▀██▀▒▌ so quiz
    ░░▐▒▒▒▄▄▒▒▒▒░░░▒▒▒▒▒▒▒▀▄▒▒▌ 
    ░░▌░░▌█▀▒▒▒▒▒▄▀█▄▒▒▒▒▒▒▒█▒▐ 
    ░▐░░░▒▒▒▒▒▒▒▒▌██▀▒▒░░░▒▒▒▀▄▌ much nodejs
    ░▌░▒▄██▄▒▒▒▒▒▒▒▒▒░░░░░░▒▒▒▒▌ 
    ▌▒▀▐▄█▄█▌▄░▀▒▒░░░░░░░░░░▒▒▒▐ 
    ▐▒▒▐▀▐▀▒░▄▄▒▄▒▒▒▒▒▒░▒░▒░▒▒▒▒▌ 
    ▐▒▒▒▀▀▄▄▒▒▒▄▒▒▒▒▒▒▒▒░▒░▒░▒▒▐ very hidden source
    ░▌▒▒▒▒▒▒▀▀▀▒▒▒▒▒▒░▒░▒░▒░▒▒▒▌ 
    ░▐▒▒▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒░▒▒▄▒▒▐
    ░░▀▄▒▒▒▒▒▒▒▒▒▒▒░▒░▒░▒▄▒▒▒▒▌ 
    ░░░░▀▄▒▒▒▒▒▒▒▒▒▒▄▄▄▀▒▒▒▒▄▀ 
    ░░░░░░▀▄▄▄▄▄▄▀▀▀▒▒▒▒▒▄▄▀ such interface
    ░░░░░░░░░▒▒▒▒▒▒▒▒▒▒▀▀
    -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<title>{{ APP_TITLE }} | Question {{ question_index }} of {{ total_questions }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
	<meta name="description" content="{{ APP_TITLE }} - Quiz Question">
	<meta name="author" content="GP">
	<meta http-equiv="refresh" content="{{ question.allowed_time }}">
	<meta http-equiv="Expires" content="0">
	<meta http-equiv="Cache-Control" content="no-cache">
    <!-- IE PINNED SITE SUPPORT -->
    <meta name="msapplication-tooltip" content="{{ APP_TITLE }} - The most amazeballs quizzing app ever!" />
    <meta name="msapplication-starturl" content="{{ IE_START_URL }}" />
    <meta name="msapplication-task" content="name={{ APP_TITLE }}; action-uri={{ IE_START_URL}}; icon-uri={{ IE_FAVICON_URL }}"/>
    <meta name="msapplication-task" content="name=FAQ; action-uri={{ IE_FAQ_URL}}; icon-uri={{ IE_FAVICON_URL }}"/>
    <!-- /IE PINNED SITE SUPPORT -->
	<!-- JAVASCRIPTS -->
    <!--[if lt IE 9]>
    <script src="/javascripts/excanvas.min.js"></script>
    <script src="/javascripts/html5.js"></script>
    <script src="/javascripts/css3-mediaqueries.js"></script>
    <![endif]-->
    <!-- /JAVASCRIPTS -->
	<!-- STYLESHEETS -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/default.css" id="skin-switcher" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/responsive.css" />
	<link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/opensans.css" />
	<!-- /STYLESHEETS -->
	<!-- ICONS -->
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="icon" sizes="196x196" href="/images/icon-196.png" />
    <link rel="icon" sizes="128x128" href="/images/icon-128.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/images/icon-76.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/images/icon-120.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/images/icon-152.png" />
    <!-- /ICONS -->
<style type="text/css"></style>
</head>
<body style="">
	<!-- HEADER -->
	<header class="navbar clearfix" id="header">
		<div class="container">
				<div class="navbar-brand">
					<!-- LOGO -->
					<a href="/">
						<img src="/images/logo.png" alt="Quiz Logo" class="img-responsive" height="30" width="120">
					</a>
					<!-- /LOGO -->
				</div>
				<!-- NAVBAR LEFT -->
				<ul class="nav navbar-nav pull-left hidden-xs" id="navbar-left">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-cog"></i>
							<span class="name">Skins</span>
							<i class="fa fa-angle-down"></i>
						</a>
						<ul class="dropdown-menu skins">
							<li class="dropdown-title">
								<span><i class="fa fa-leaf"></i> Skins</span>
							</li>
							<li><a href="#" data-skin="default">Default</a></li>
							<li><a href="#" data-skin="night">Night</a></li>
							<li><a href="#" data-skin="earth">Earth</a></li>
							<li><a href="#" data-skin="utopia">Utopia</a></li>
							<li><a href="#" data-skin="nature">Nature</a></li>
							<li><a href="#" data-skin="graphite">Graphite</a></li>
						 </ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" target="_blank" href="{{ URL.FAQ }}"><span><i class="fa fa-question-circle"></i>FAQs</span></a>
					</li>
				</ul>
				<!-- /NAVBAR LEFT -->
				<!-- BEGIN TOP NAVIGATION MENU -->					
				<ul class="nav navbar-nav pull-right">
					<!-- BEGIN USER LOGIN DROPDOWN -->
					<li class="dropdown" id="header-user">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<span class="username"><i class="fa fa-user"></i>&nbsp;{{ USERNAME }}&nbsp;</span>
							<i class="fa fa-angle-down"></i>
						</a>
						<ul class="dropdown-menu">
							<li><a href="{{ URL.QUIZ_STANDINGS }}"><i class="fa fa-sort-amount-desc"></i> Standings</a></li>
                            <li><a href="{{ URL.FEEDBACK }}"><i class="fa fa-bullhorn"></i> Feedback</a></li>
                            <li class="divider"></li>
							<li><a href="{{ URL.LOGOUT }}"><i class="fa fa-power-off"></i> Logout</a></li>
						</ul>
					</li>
					<!-- END USER LOGIN DROPDOWN -->
				</ul>
				<!-- END TOP NAVIGATION MENU -->
		</div>
	</header>
	<!--/HEADER -->
	<!-- PAGE -->
	<section id="page">
		<div id="main-content">
			<div class="container">
				<div class="row">
					<div id="content" class="col-lg-12" style="min-height:1063px !important">
						<!-- PAGE HEADER-->
						<div class="row">
							<div class="col-sm-12">
								<div class="page-header">
									<!-- BREADCRUMBS -->
									<ul class="breadcrumb">
										<li>
											<i class="fa fa-home"></i>
										</li>
										<li>Welcome</li>
										<li>Today's Quiz</li>
									</ul>
									<!-- /BREADCRUMBS -->
									<div class="clearfix">
										<h3 class="content-title pull-left">Question <strong>{{ question_index }}</strong> of {{ total_questions }}</h3>
									</div>
									<div class="description">Question expires in <span class="badge badge-red">{{ question.allowed_time }}</span> seconds.</div>
								</div>
							</div>
						</div>
						<!-- /PAGE HEADER -->
						<div class="row">
							<div class="col-md-12">
								<!-- BOX -->
								<div class="box border blue">
									<div class="box-title">
										<h4><i class="fa fa-bars"></i> <span class="hidden-inline-mobile">Question #{{ question_index }}</span></h4>
										<div class="items">
											<div class="progress progress-striped active">
												<div id="time_progress" style="width: 0%" aria-valuemax="{{ question.allowed_time }}" aria-valuemin="0" aria-valuenow="0" role="progressbar" class="progress-bar progress-bar-info"></div>
										</div>
										</div>
									</div>
									<div class="box-body">
										<blockquote><p>{{ question.title|striptags }}</p></blockquote>
										{% if question.image %}
										<div class="jumbotron">
											<img src="{{ UPLOAD_DIR }}{{ question.image }}" class="thumbnail">
										</div>
										{% endif %}
										<form method="POST" action="#" class="form-horizontal">
											<div class="form-group">
											 <div class="col-md-8">
											 	<!-- OPTION -->
											 	{% for choice in question.choices %}
											 	<label class="radio">
													<div class="radio">
														<span style="vertical-align: middle">
															<input type="radio" value="{{ loop.index }}" name="choice" class="uniform">
															{{ choice.choice_text|striptags }}
														</span>
													</div>
												</label>
												{% endfor %}
											 	<!-- /OPTION -->
											 </div>
										  </div>
										</form>
									</div>
								</div>
								<!-- /BOX -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--/PAGE -->
	<!-- JAVASCRIPTS -->
	<script type="text/javascript" src="/javascripts/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="/javascripts/jquery-ui-1.10.3.custom.min.js"></script>
	<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.cookie.min.js"></script>
	<script type="text/javascript" src="/javascripts/script.js"></script>
	<script type="text/javascript">
		window.location.hash = 'no-back-button';
		window.location.hash = 'again-no-back-button';
		window.onhashchange = function(){
			if (typeof history.pushState !== 'undefined') {
				history.pushState(null, '', '#no-back-button');
			} else {
				window.location.hash='no-back-button';
			}
		}
	</script>
	<script type="text/javascript">
		jQuery(document).ready(function() {		
			App.setPage('widgets_box');  //Set current page
			App.init(); //Initialise plugins and elements

			var count = '{{ question.allowed_time }}' || 10;
			var counter = setInterval(function(){timer()}, 1000); //1000 will run it every 1 second.
			var progress_percent = 100 / count;
			function timer() {
				count = count - 1;
				if (count <= 0)
				{
					$('#time_progress').css('width', '100%').attr('aria-valuenow', '100');
					clearInterval(counter);
					return;
				}
				$('#time_progress').css('width', progress_percent + '%').attr('aria-valuenow', progress_percent);
				progress_percent = progress_percent + 100 / '{{ question.allowed_time }}';
			}

			$('input.uniform').on('click', function() {
				$('div.radio').addClass('disabled');
				$('form').submit();
			});
		});
	</script>
	<!-- /JAVASCRIPTS -->
</body>
</html>