<!DOCTYPE html>
<html lang="en"><head>
    <!--
    ░░░░░░░░░▄░░░░░░░░░░░░░░▄ 
    ░░░░░░░░▌▒█░░░░░░░░░░░▄▀▒▌ 
    ░░░░░░░░▌▒▒█░░░░░░░░▄▀▒▒▒▐ wow
    ░░░░░░░▐▄▀▒▒▀▀▀▀▄▄▄▀▒▒▒▒▒▐ 
    ░░░░░▄▄▀▒░▒▒▒▒▒▒▒▒▒█▒▒▄█▒▐ 
    ░░░▄▀▒▒▒░░░▒▒▒░░░▒▒▒▀██▀▒▌ so quiz
    ░░▐▒▒▒▄▄▒▒▒▒░░░▒▒▒▒▒▒▒▀▄▒▒▌ 
    ░░▌░░▌█▀▒▒▒▒▒▄▀█▄▒▒▒▒▒▒▒█▒▐ 
    ░▐░░░▒▒▒▒▒▒▒▒▌██▀▒▒░░░▒▒▒▀▄▌ much nodejs
    ░▌░▒▄██▄▒▒▒▒▒▒▒▒▒░░░░░░▒▒▒▒▌ 
    ▌▒▀▐▄█▄█▌▄░▀▒▒░░░░░░░░░░▒▒▒▐ 
    ▐▒▒▐▀▐▀▒░▄▄▒▄▒▒▒▒▒▒░▒░▒░▒▒▒▒▌ 
    ▐▒▒▒▀▀▄▄▒▒▒▄▒▒▒▒▒▒▒▒░▒░▒░▒▒▐ very hidden source
    ░▌▒▒▒▒▒▒▀▀▀▒▒▒▒▒▒░▒░▒░▒░▒▒▒▌ 
    ░▐▒▒▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒░▒▒▄▒▒▐
    ░░▀▄▒▒▒▒▒▒▒▒▒▒▒░▒░▒░▒▄▒▒▒▒▌ 
    ░░░░▀▄▒▒▒▒▒▒▒▒▒▒▄▄▄▀▒▒▒▒▄▀ 
    ░░░░░░▀▄▄▄▄▄▄▀▀▀▒▒▒▒▒▄▄▀ such interface
    ░░░░░░░░░▒▒▒▒▒▒▒▒▒▒▀▀
    -->
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<title>{{ app_title }} | Bad timing!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
	<meta name="description" content="{{ app_title }} - Time Window Closed">
	<meta name="author" content="GP">
    <!-- JAVASCRIPTS -->
    <!--[if lt IE 9]>
    <script src="/javascripts/excanvas.min.js"></script>
    <script src="/javascripts/html5.js"></script>
    <script src="/javascripts/css3-mediaqueries.js"></script>
    <![endif]-->
    <!-- /JAVASCRIPTS -->
    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/responsive.css" />
    <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css"  href="/stylesheets/opensans.css" />
    <!-- /STYLESHEETS -->
    <!-- FAVICON -->
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <!-- /FAVICON -->
</head>
<body>	
	<!-- PAGE -->
	<section id="page">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="divide-100"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 not-found text-center">
				   <div class="error">
					  Oh man!
				   </div>
				</div>
				<div class="col-md-4 col-md-offset-4 not-found text-center">
				   <div class="content">
                    {% if IS_ADMIN == false %}
					  <h3>Time window closed!</h3>
					  <p>
						 Sorry, but you can take the quiz only between <strong>{{ start_hour }}</strong> and <strong>{{ stop_hour }}</strong> hours.<br>
					  </p>
                      {% else %}
                      <h3>It's quiz time now!</h3>
                      <p>
                          Sorry, but the quiz is scheduled to run between <strong>{{ start_hour }}</strong> and <strong>{{ stop_hour }}</strong> hours.<br>
                          You cannot add or modify questions during this time.
                      </p>
                    {% endif %}
                    <div class="btn-group">
                        <a href="{{ URL.QUIZ_MAIN }}" class="btn btn-success"><i class="fa fa-refresh"></i> Try Again</a>
                        <a href="{{ URL.LOGOUT }}" class="btn btn-default">Logout</a>
                    </div>
				   </div>
				</div>
			</div>
		</div>
	</section>
	<!--/PAGE -->
</body>
</html>